<html>
    <head><title>Unicommerce - <%=title%></title></head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <body>

        <h3>Unicommerce - Maven: Inventory Sync</h3>
        
        <hr/>
        <table class="tableClass" cellspacing="30">
            <tr>
                    
                <th colspan="4">Inventory Sync</th><th><a href='/inventory'>Refresh Count</a></th>
            </tr>
            <tr>
                <td><a href="/inventory/secretwish">Secretwish</a> (<%=secretwishCount%>)</td>
                <td><a href="/inventory/gps">Grandpitstop</a> (<%=gpsCount%>)</td>
                <td><a href="/inventory/jerado">Jerado</a> (<%=jeradoCount%>)</td>
                <td><a href="/inventory/markmediums">Markmediums</a> (<%=markmediumsCount%>)</td>
                <td><a href="/inventory/anscommerce">Anscommerce</a> (<%=anscommerceCount%>)</td>
            </tr>
        </table>
    </body>
</html>