<html>
    <head><title>Unicommerce - <%=title%></title></head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <body>

        <h3>Unicommerce - Maven: Return Orders</h3>
        <hr/>
        <table class="tableClass" cellspacing="30">
            <tr>
                <th colspan="5">Import return</th>
            </tr>
            <tr>
                <td><a href="/scrapereturn/secretwish">Secretwish</a></td>
                <td><a href="/scrapereturn/gps">Grandpitstop</a></td>
                <td><a href="/scrapereturn/jerado">Jerado</a></td>
                <td><a href="/scrapereturn/markmediums">Markmediums</a></td>
                <td><a href="/scrapereturn/anscommerce">Anscommerce</a></td>
            </tr>
        </table>
        <table class="tableClass" cellspacing="30">
                <tr>
                    <th colspan="5">Export</th>
                </tr>
                <tr>
                    <td>
                        <% if(secretwishCount==0) {%>
                            Secretwish (<%=secretwishCount%>)
                        <% } else{ %>
                            <a href="/maven/return/push/secretwish">Secretwish</a> (<%=secretwishCount%>)
                        <% } %>
                    </td>
                    <td>
                        <% if(gpsCount==0) {%>
                            Grandpitstop (<%=gpsCount%>)
                        <% } else{ %>
                            <a href="/maven/return/push/gps">GPS</a> (<%=gpsCount%>)
                        <% } %>
                    </td>
                    <td>
                        <% if(jeradoCount==0) {%>
                            Jerado (<%=jeradoCount%>)
                        <% } else{ %>
                            <a href="/maven/return/push/jerado">Jerado</a> (<%=jeradoCount%>)
                        <% } %>
                    </td>
                    <td>
                        <% if(markmediumsCount==0) {%>
                            Markmediums (<%=markmediumsCount%>)
                        <% } else{ %>
                            <a href="/maven/return/push/markmediums">Markmediums</a> (<%=markmediumsCount%>)
                        <% } %>
                    </td>
                    <td>
                        <% if(anscommerceCount==0) {%>
                            AnsCommerce (<%=anscommerceCount%>)
                        <% } else{ %>
                            <a href="/maven/return/push/anscommerce">Anscommerce</a> (<%=anscommerceCount%>)
                        <% } %>
                    </td>
                </tr>
            </table>
    </body>
</html>